<h1>Welome, <%= @user.username %> </h1>
<h2>Here are your previous Pantari Analyses</h2>
  
  <h3>Personality Analyses</h3>
  <% @user_analyses.each do |analysis| %>
    <a href="/personality_analyses/<%=analysis.id%>"><%= analysis.author %></a>
  <% end %>  

<h3>Tone Analyses</h3>
  <% @user_tones.each do |tone_analysis| %>
    <a href="/tone_analyses/<%=tone_analysis.id%>"><%= tone_analysis.author %></a>
  <% end %>  

   

  <a href="/personality_analyses/new">Analyze Personality</a>&nbsp;  &nbsp;
  <a href="/tone_analyses/new">Analyze Tone</a>&nbsp;  &nbsp;
  <a href="/logout">Log Out</a>