<h1>Welome, <%= @user.username %> </h1><br><br>
<h3>Here are your previous Pantari Analyses</h4>

<br>
<h5>Personality Analyses</h5>
  <%= @analysis.word_count %> <br>
  <%= @analysis.agreeableness %> <br>
  <%= @analysis.conscientiousness %> <br>
  <%= @analysis.extraversion %> <br>
  <%= @analysis.emotional_range %> <br>
  <%= @analysis.openness %> <br>
  <%= @analysis.challenge %> <br>
  <%= @analysis.closeness %> <br>
  <%= @analysis.curiosity %> <br>
  <%= @analysis.excitement %> <br>
  <%= @analysis.harmony %> <br>
  <%= @analysis.ideal %> <br>
  <%= @analysis.liberty %> <br>
  <%= @analysis.love %> <br>
  <%= @analysis.practicality %> <br>
  <%= @analysis.self_expression %> <br>
  <%= @analysis.stability %> <br>
  <%= @analysis.structure %> <br>
  <%= @analysis.conservation %> <br>
  <%= @analysis.openness_to_change %> <br>
  <%= @analysis.hedonism %> <br>
  <%= @analysis.self_enhancement %> <br>
  <%= @analysis.self_transcendence %> <br>


<h5>Tone Analyses</h5>
   